<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.path %>/logo.ico">
    <title>校园建站</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>/cdn/element-ui/2.4.0/theme-chalk/index.css">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/vue/2.5.2/vue.min.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/vuex/2.4.1/vuex.min.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/vue-router/3.0.1/vue-router.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/element-ui/2.4.0/index.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/axios/1.0.0/axios.min.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/aes/aes.js" charset="utf-8"></script>

    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=7e53fd9d108777f924f22a9a7bf85294&plugin=AMap.MouseTool,AMap.Autocomplete,AMap.PlaceSearch,AMap.PolyEditor"></script>
  </body>
  <!-- BEGIN PAGE LEVEL PLUGINS -->
</html>
